module github.com/DataDog/dd-trace-go/orchestrion/all/v2

go {{ .GoVersion }}

require (
{{- range .Modules }}
	{{ index . 0 }} {{ $.VersionTag }}
{{- end }}
	github.com/DataDog/orchestrion {{ .OrchestrionLatest }}
)

{{/*
This is a placeholder to make sure go mod tidy produces things nice & clean, and
also serves to ensure we get the right version of certain touchy dependencies
when doing "go mod tidy" here...
*/ -}}
require (
	k8s.io/apimachinery v0.26.7 // indirect
	k8s.io/client-go v0.26.7 // indirect
  k8s.io/api v0.26.7 // indirect
	// golang.org/x/net v0.54.0 hides legacy HTTP/2 server symbols (e.g.
	// http2.TrailerPrefix) that google.golang.org/grpc still references
	// directly, behind a "go1.27 && !http2legacy" build constraint. v0.55.0
	// moved those symbols back into a file included unconditionally. Floor
	// it here so consumers of this module don't get a broken transitive
	// version under Go 1.27.
	golang.org/x/net v0.57.0 // indirect
)

replace (
{{- range .Modules }}
	{{ index . 0 }} => {{ index . 1 }}
{{- end }}
)
