# go
bin/
go.work*
!/go.work
!/go.work.sum

# profiling
*.test
*.out
*.prof

# generic
.DS_Store
*.cov
*.lock
*.swp
.idea
dd-trace-go.iml
vendor
tmp

/contrib_coverage.txt
/core_coverage.txt
gotestsum-report*.xml
contrib_coverage.*
/internal/apps/unit-of-work/unit-of-work
static-analysis.datadog.yml
.vscode/settings.json
coverage-*.txt

# Cursor
/.cursor
