stages:
  - benchmarks
  - test-apps

variables:
  # This base image is created here: https://gitlab.ddbuild.io/DataDog/apm-reliability/benchmarking-platform/-/pipelines/16323186
  BASE_CI_IMAGE: 486234852809.dkr.ecr.us-east-1.amazonaws.com/ci/benchmarking-platform:dd-trace-go-16323186
  INDEX_FILE: index.txt
  KUBERNETES_SERVICE_ACCOUNT_OVERWRITE: dd-trace-go
  FF_USE_LEGACY_KUBERNETES_EXECUTION_STRATEGY: "true"
  BENCHMARK_TARGETS: "BenchmarkConcurrentTracing|BenchmarkStartSpan|BenchmarkSingleSpanRetention|BenchmarkOTelApiWithCustomTags|BenchmarkInjectW3C|BenchmarkExtractW3C"

include:
  - ".gitlab/benchmarks.yml"
  - ".gitlab/test-apps.yml"
