# Note: Later matches take precedence

# default owner
*                               @DataDog/dd-trace-go-guild

# no owner: changes to these files will not automatically ping any particular
# team and can be reviewed by anybody with the appropriate permissions. This is
# meant to avoid pinging all of @DataDog/dd-trace-go-guild for every PR that
# changes one of these files.
go.mod
go.sum

# tracing
/contrib                        @DataDog/apm-go @Datadog/apm-idm-go
/ddtrace                        @DataDog/apm-go

# profiling
/profiler                       @DataDog/profiling-go
/internal/traceprof             @DataDog/profiling-go

# appsec
/appsec                         @DataDog/asm-go
/internal/appsec                @DataDog/asm-go
/contrib/**/*appsec*.go         @DataDog/asm-go
/.github/workflows/appsec.yml   @DataDog/asm-go

# datastreams
/datastreams                    @Datadog/data-streams-monitoring
/internal/datastreams           @Datadog/data-streams-monitoring

# civisibility
/internal/civisibility          @DataDog/ci-app-libraries

# Gitlab configuration
.gitlab-ci.yml                  @DataDog/dd-trace-go-guild @DataDog/apm-core-reliability-and-performance
/.gitlab-ci                     @DataDog/dd-trace-go-guild @DataDog/apm-core-reliability-and-performance
