go 1.22.0 // Go version must match the lowest supported version, not the highest, with format X.Y.

toolchain go1.22

use (
	.
	./.github/workflows/apps
	./contrib/99designs/gqlgen
	./contrib/IBM/sarama
	./contrib/Shopify/sarama
	./contrib/aws/aws-sdk-go
	./contrib/aws/aws-sdk-go-v2
	./contrib/bradfitz/gomemcache
	./contrib/cloud.google.com/go/pubsub.v1
	./contrib/confluentinc/confluent-kafka-go/kafka
	./contrib/confluentinc/confluent-kafka-go/kafka.v2
	./contrib/database/sql
	./contrib/dimfeld/httptreemux.v5
	./contrib/elastic/go-elasticsearch.v6
	./contrib/emicklei/go-restful.v3
	./contrib/envoyproxy/go-control-plane
	./contrib/gin-gonic/gin
	./contrib/globalsign/mgo
	./contrib/go-chi/chi
	./contrib/go-chi/chi.v5
	./contrib/go-pg/pg.v10
	./contrib/go-redis/redis
	./contrib/go-redis/redis.v7
	./contrib/go-redis/redis.v8
	./contrib/go.mongodb.org/mongo-driver
	./contrib/gocql/gocql
	./contrib/gofiber/fiber.v2
	./contrib/gomodule/redigo
	./contrib/google.golang.org/api
	./contrib/google.golang.org/api/internal/gen_endpoints
	./contrib/google.golang.org/grpc
	./contrib/gorilla/mux
	./contrib/gorm.io/gorm.v1
	./contrib/graph-gophers/graphql-go
	./contrib/graphql-go/graphql
	./contrib/hashicorp/consul
	./contrib/hashicorp/vault
	./contrib/jackc/pgx.v5
	./contrib/jmoiron/sqlx
	./contrib/julienschmidt/httprouter
	./contrib/k8s.io/client-go
	./contrib/labstack/echo.v4
	./contrib/log/slog
	./contrib/miekg/dns
	./contrib/net/http
	./contrib/olivere/elastic.v5
	./contrib/redis/go-redis.v9
	./contrib/segmentio/kafka-go
	./contrib/sirupsen/logrus
	./contrib/syndtr/goleveldb
	./contrib/tidwall/buntdb
	./contrib/twitchtv/twirp
	./contrib/uptrace/bun
	./contrib/urfave/negroni
	./contrib/valyala/fasthttp
	./instrumentation/internal/namingschematest
	./instrumentation/testutils/grpc
	./internal/apps
	./internal/contrib/validationtest
	./internal/exectracetest
	./internal/setup-smoke-test
	./internal/traceprof/traceproftest
	./tools/autoreleasetagger
	./tools/fixmodules
	./tools/v2check
	./tools/v2check/_stage
)
