go 1.21.5

use (
	./internal/apps
	./internal/contrib/validationtest
	./internal/traceprof/traceproftest
	./tools/v2check
	./tools/v2check/_stage
	./v2/contrib/99designs/gqlgen
	./v2/contrib/IBM/sarama.v1
	./v2/contrib/Shopify/sarama
	./v2/contrib/aws/aws-sdk-go
	./v2/contrib/aws/aws-sdk-go-v2
	./v2/contrib/bradfitz/gomemcache
	./v2/contrib/cloud.google.com/go/pubsub.v1
	./v2/contrib/confluentinc/confluent-kafka-go/kafka
	./v2/contrib/confluentinc/confluent-kafka-go/kafka.v2
	./v2/contrib/database/sql
	./v2/contrib/dimfeld/httptreemux.v5
	./v2/contrib/elastic/go-elasticsearch.v6
	./v2/contrib/emicklei/go-restful.v3
	./v2/contrib/gin-gonic/gin
	./v2/contrib/globalsign/mgo
	./v2/contrib/go-chi/chi
	./v2/contrib/go-chi/chi.v5
	./v2/contrib/go-pg/pg.v10
	./v2/contrib/go-redis/redis
	./v2/contrib/go-redis/redis.v7
	./v2/contrib/go-redis/redis.v8
	./v2/contrib/go.mongodb.org/mongo-driver
	./v2/contrib/gocql/gocql
	./v2/contrib/gofiber/fiber.v2
	./v2/contrib/gomodule/redigo
	./v2/contrib/google.golang.org/api
	./v2/contrib/google.golang.org/api/internal/gen_endpoints
	./v2/contrib/google.golang.org/grpc
	./v2/contrib/gorilla/mux
	./v2/contrib/gorm.io/gorm.v1
	./v2/contrib/graph-gophers/graphql-go
	./v2/contrib/graphql-go/graphql
	./v2/contrib/hashicorp/consul
	./v2/contrib/hashicorp/vault
	./v2/contrib/jmoiron/sqlx
	./v2/contrib/julienschmidt/httprouter
	./v2/contrib/k8s.io/client-go
	./v2/contrib/labstack/echo.v4
	./v2/contrib/miekg/dns
	./v2/contrib/net/http
	./v2/contrib/olivere/elastic
	./v2/contrib/redis/go-redis.v9
	./v2/contrib/segmentio/kafka.go.v0
	./v2/contrib/sirupsen/logrus
	./v2/contrib/syndtr/goleveldb
	./v2/contrib/tidwall/buntdb
	./v2/contrib/twitchtv/twirp
	./v2/contrib/urfave/negroni
	./v2/contrib/valyala/fasthttp.v1
)
