on: [push]

name: Datadog Static Analysis

permissions:
  contents: read
  pull-requests: write

jobs:
  static-analysis:
    runs-on: ubuntu-latest
    name: Datadog Static Analyzer
    steps:
    - name: Checkout
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
    - name: Check code meets quality and security standards
      id: datadog-static-analysis
      uses: DataDog/datadog-static-analyzer-github-action@8340f18875fcefca86844b5f947ce2431387e552 # v3.0.0
      with:
        dd_api_key: ${{ secrets.STATIC_ANALYZER_API_KEY }}
        dd_app_key: ${{ secrets.STATIC_ANALYZER_APP_KEY }}
        dd_service: dd-trace-go
        dd_env: ci
        dd_site: datadoghq.com
        cpu_count: 2
