on: [push]

name: Datadog Static Analysis

permissions:
  contents: read
  pull-requests: write

jobs:
  static-analysis:
    runs-on: ubuntu-latest
    name: Datadog Static Analyzer
    steps:
    - name: Checkout
      uses: actions/checkout@09d2acae674a48949e3602304ab46fd20ae0c42f # v3.6.0
    - name: Check code meets quality and security standards
      id: datadog-static-analysis
      uses: DataDog/datadog-static-analyzer-github-action@v1
      with:
        dd_api_key: ${{ secrets.STATIC_ANALYZER_API_KEY }}
        dd_app_key: ${{ secrets.STATIC_ANALYZER_APP_KEY }}
        dd_service: dd-trace-go
        dd_env: ci
        dd_site: datadoghq.com
        cpu_count: 2
