name: Nightly govulncheck
on:
  workflow_call: # allows to reuse this workflow
    inputs:
      ref:
        description: 'The branch to run the workflow on'
        required: true
        type: string
  push:
    branches:
      - main
      - release-v*
  schedule:
    - cron: '00 00 * * *'
  workflow_dispatch:

env:
  V2_BRANCH: true

jobs:
  govulncheck-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ inputs.ref || github.ref }}
      - name: Checkout Go
        uses: actions/setup-go@v3
        with:
          go-version: 'stable'
      - name: Install govulncheck
        run: |
          go install golang.org/x/vuln/cmd/govulncheck@latest
      - name: Run govulncheck
        run: govulncheck ./ddtrace/... ./appsec/... ./profiler/... ./internal/...
      - name: Run govulncheck-contribs
        if: ${{ env.V2_BRANCH != 'true' }}
        run: |
          go list -f '{{.Dir}}' ./contrib/... | while read dir ; do
            govulncheck -C $dir .
          done
      - name: Run govulncheck-contribs (v2)
        if: ${{ env.V2_BRANCH == 'true' }}
        run: |
          find ./v2/contrib -mindepth 2 -type f -name go.mod -exec dirname {} \; | while read dir ; do
            echo "Checking $dir"
            # Disabling aws temporarily because of strange errors
            if [[ $dir == *"aws-sdk-go"* ]]; then
              continue
            fi
            # govulncheck doesn't support modules with only a go.mod in the root
            cd $dir
            go_files=$(ls -la | grep -c ".*\.go$")
            if [[ $go_files -eq 0 ]]; then
              dir=$(realpath $(ls -d */ | head))
            fi
            cd -

            govulncheck -C $dir .
          done