name: Nightly govulncheck
on:
  push:
    branches:
      - main
      - release-v*
  schedule:
    - cron: '00 00 * * *'
  workflow_dispatch:

jobs:
  govulncheck-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          repository: 'DataDog/dd-trace-go'
      - name: Checkout Go
        uses: actions/setup-go@v3
        with:
          go-version: 'stable'
      - name: Install govulncheck
        run: |
          go install golang.org/x/vuln/cmd/govulncheck@latest
      - name: Run govulncheck
        run: govulncheck -v ./ddtrace/... ./appsec/... ./profiler/... ./internal/... 
