name: Nightly govulncheck
on:
  push:
    branches:
      - 'shevchenko/govulncheck'
#on:
#  push:
#    branches:
#      - main
#  schedule:
#    - cron: '00 00 * * *'
jobs:
  govulncheck-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          repository: 'DataDog/dd-trace-go'
      - name: Checkout Go
        uses: actions/setup-go@v3
        with:
          go-version: '1.18'
      - name: Install govulncheck
        run: |
          go install golang.org/x/vuln/cmd/govulncheck@latest
      - name: Comment results
        id: results
        run: |
          function check_results {
            results=$(govulncheck $path | grep -Eo '\w+-\d+-\d+' | uniq)
            num=$(echo $results | wc -l)
            if [ $num -gt 0 ]; then
              echo "Found $num vulnerabilities in $path. Run 'govulncheck $path' to find out more"
              echo "Found $num vulnerabilities in $path. Run 'govulncheck $path' to find out more" >> $GITHUB_OUTPUT
              echo "Found $num vulnerabilities in $path. Run 'govulncheck $path' to find out more" >> $GITHUB_STEP_SUMMARY
              found=$(( found | 1))
            fi
          }
          path=./ddtrace/... check_results
          path=./appsec/... check_results
          path=./internal/... check_results
          path=./profiler/... check_results
#          echo "${{join(steps.results.outputs.*, '\n')}}" >> $GITHUB_STEP_SUMMARY
#          exit $found
#          path=./contrib/... check_results
