name: Main Branch and Release Tests

on:
  push:
    branches:
      - release-v*
      - mq-working-branch-**
    tags-ignore:
      - 'contrib/**'
      - 'instrumentation/**'
      - 'internal/**'
      - 'orchestrion/**'
      - 'scripts/**'
  schedule: # nightly
    - cron: "0 0 * * *"

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  go-versions:
    runs-on: ubuntu-latest
    outputs:
      stable: ${{ steps.versions.outputs.stable }}
      oldstable: ${{ steps.versions.outputs.oldstable }}
      matrix: ${{ steps.versions.outputs.matrix }}
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Read Go versions
        id: versions
        uses: ./.github/actions/go-versions

  unit-integration-tests:
    needs:
      - go-versions
    uses: ./.github/workflows/unit-integration-tests.yml
    permissions:
      contents: read
      id-token: write
      pull-requests: write
    with:
      go-version: ${{ needs.go-versions.outputs.stable }} # highest supported version of Go
    secrets: inherit

  warm-repo-cache:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Cache
        uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
        with:
          path: .git
          key: gitdb-${{ github.repository_id }}-${{ github.sha }}

  multios-unit-tests:
    needs:
      - go-versions
      - warm-repo-cache
    strategy:
      matrix:
        runs-on: [ macos-latest, windows-latest, ubuntu-latest ]
        go-version: ${{ fromJSON(needs.go-versions.outputs.matrix) }}
      fail-fast: false
    uses: ./.github/workflows/multios-unit-tests.yml
    with:
      go-version: ${{ matrix.go-version }}
      runs-on: ${{ matrix.runs-on }}
    secrets: inherit