name: Orchestrion
on:
  workflow_dispatch: # manually
  pull_request:
  merge_group:
  push:
    branches:
      - release-v*

concurrency:
  # Automatically cancel previous runs if a new one is triggered to conserve resources.
  group: ${{ github.workflow }}-${{ github.event_name }}-${{ github.ref }}

jobs:
  test:
    name: 'Run Tests'
    uses: DataDog/orchestrion/.github/workflows/workflow_call.yml@eliott.bouhana/smoke-tests
    with:
      dd-trace-go-ref: ${{ github.sha }}
