name: APM Parametric Tests

on:
  workflow_call: # allows to reuse this workflow
    inputs:
      ref:
        description: 'The branch to run the workflow on'
        required: true
        type: string
  push:
    branches:
      - main
      - release-v*
    tags:
      - "**"
  pull_request:
    branches:
      - "**"
  merge_group:
  workflow_dispatch: {}
  schedule:
    - cron:  '00 04 * * 2-6'

jobs:
  parametric-tests:
    if: github.event_name != 'pull_request' || (github.event_name == 'pull_request' && github.event.pull_request.head.repo.full_name == 'DataDog/dd-trace-go')
    runs-on:
      group: "APM Larger Runners"
    env:
      TEST_LIBRARY: golang
    steps:
      - name: Checkout system tests
        uses: actions/checkout@v3
        with:
          repository: 'DataDog/system-tests'
          # https://github.com/DataDog/system-tests/pull/1853
          ref: '532c4e65ae06e3217f1e51675099d73c1457a7e1'

      - name: Checkout dd-trace-go
        uses: actions/checkout@v3
        with:
          ref: ${{ inputs.branch_ref || github.ref }}
          path: 'binaries/dd-trace-go'

      - uses: actions/setup-go@v3
        with:
          go-version: "1.19"

      - name: Build runner
        uses: ./.github/actions/install_runner

      - name: Run
        run: ./run.sh PARAMETRIC
