name: APM Parametric Tests

on:
  workflow_call: # allows to reuse this workflow
    inputs:
      ref:
        description: 'The branch to run the workflow on'
        required: true
        type: string
  push:
    branches:
      - main
      - release-v*
    tags:
      - "**"
  pull_request:
    branches:
      - "**"
  merge_group:
  workflow_dispatch: {}
  schedule:
    - cron:  '00 04 * * 2-6'

jobs:
  parametric-tests:
    if: github.event_name != 'pull_request' || (github.event_name == 'pull_request' && github.event.pull_request.head.repo.full_name == 'DataDog/dd-trace-go')
    runs-on:
      group: "APM Larger Runners"
    env:
      TEST_LIBRARY: golang
    steps:
      - name: Checkout system tests
        uses: actions/checkout@v3
        with:
          repository: 'DataDog/system-tests'
          ref: refs/heads/knusbaum/update-for-2409
          #ref: refs/heads/dario.castane/AIT-3705/dd-trace-go.v2

      - name: Checkout dd-trace-go
        uses: actions/checkout@v3
        with:
          ref: ${{ inputs.branch_ref || github.ref }}
          path: 'binaries/dd-trace-go'

      #This It will be removed after merge the system-tests PR: https://github.com/DataDog/system-tests/pull/1948
      - name: Checkout dd-trace-go (Deprecated.)
        uses: actions/checkout@v3
        with:
          path: utils/build/docker/golang/parametric/dd-trace-go
          ref: ${{ inputs.ref || github.ref }}

      - uses: actions/setup-go@v3
        with:
          go-version: "1.19"

      #This It will be removed after merge the system-tests PR: https://github.com/DataDog/system-tests/pull/1948
      - name: Patch dd-trace-go version (Deprecated)
        run: |
          cd utils/build/docker/golang/parametric/
          echo "replace github.com/DataDog/dd-trace-go/v2 => ./dd-trace-go" >> go.mod
          go mod tidy

      - name: Build runner
        uses: ./.github/actions/install_runner

      - name: Run
        run: ./run.sh PARAMETRIC
