name: APM Parametric Tests

on:
  push:
    branches:
      - main
      - release-v*
    tags:
      - "**"
  pull_request:
    branches:
      - "**"
  merge_group:
  workflow_dispatch: {}
  schedule:
    - cron:  '00 04 * * 2-6'

jobs:
  parametric-tests:
    if: github.event_name != 'pull_request' || (github.event_name == 'pull_request' && github.event.pull_request.head.repo.full_name == 'DataDog/dd-trace-go')
    runs-on: ubuntu-latest
    env:
      TEST_LIBRARY: golang
    steps:
      - name: Checkout system tests
        uses: actions/checkout@v3
        with:
          repository: 'DataDog/system-tests'

      - name: Checkout dd-trace-go
        uses: actions/checkout@v3
        with:
          path: utils/build/docker/golang/parametric/dd-trace-go

      - uses: actions/setup-go@v3
        with:
          go-version: '1.18'

      - name: Patch dd-trace-go version
        run: |
          cd utils/build/docker/golang/parametric/
          echo "replace gopkg.in/DataDog/dd-trace-go.v1 => ./dd-trace-go" >> go.mod
          go mod tidy

      - uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Cache venv
        uses: actions/cache@v3
        with:
          path: ./venv
          key: ${{ runner.os }}-venv-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-venv-

      - name: Build
        run: ./build.sh -i runner

      - name: Run
        run: ./run.sh PARAMETRIC
