name: Pull Request Tests

on:
  pull_request:
    branches:
      - "**"
  merge_group:
  push:
    branches:
      - 'mq-working-branch-**'
    tags-ignore:
      - 'contrib/**'
      - 'instrumentation/**'

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  unit-integration-tests:
    name: PR Unit and Integration Tests
    uses: ./.github/workflows/unit-integration-tests.yml
    permissions:
      contents: read
      id-token: write
      pull-requests: write
    with:
      go-version: "1.24"
      ref: ${{ github.ref }}
    secrets: inherit
