name: Pull Request Tests

on:
  pull_request:

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  warm-repo-cache:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Cache
        uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
        with:
          path: .git
          key: gitdb-${{ github.repository_id }}-${{ github.sha }}
  unit-integration-tests:
    name: PR Unit and Integration Tests
    needs:
      - warm-repo-cache
    strategy:
      matrix:
        go-version: [ "1.25", "1.26" ]
      fail-fast: false
    uses: ./.github/workflows/unit-integration-tests.yml
    with:
      go-version: ${{ matrix.go-version }}
    secrets: inherit
  multios-unit-tests:
    needs:
      - warm-repo-cache
    strategy:
      matrix:
        runs-on: [ macos-latest, windows-latest, ubuntu-latest ]
        go-version: [ "1.25", "1.26" ]
      fail-fast: false
    uses: ./.github/workflows/multios-unit-tests.yml
    with:
      go-version: ${{ matrix.go-version }}
      runs-on: ${{ matrix.runs-on }}
    secrets: inherit
  # This is a simple join point to make it easy to set up branch protection rules in GitHub.
  pull-request-tests-done:
    name: PR Unit and Integration Tests / ${{ matrix.name }}
    strategy:
      matrix:
        name: [ "test-contrib", "test-core" ]
    needs:
      - unit-integration-tests
      - multios-unit-tests
    runs-on: ubuntu-latest
    if: success() || failure()
    steps:
      - name: Success
        if: needs.unit-integration-tests.result == 'success' && needs.multios-unit-tests.result == 'success'
        run: echo "Success!"
      - name: Failure
        if: needs.unit-integration-tests.result != 'success' || needs.multios-unit-tests.result != 'success'
        run: echo "Failure!" && exit 1