name: Nightly System Tests

on:
  pull_request:
  workflow_dispatch: {}
  schedule:
    - cron: '0 4 * * *'

jobs:
  system-tests:
    uses: DataDog/system-tests/.github/workflows/system-tests.yml@main
    secrets:
      DD_API_KEY: ${{ secrets.DD_API_KEY }}
      TEST_OPTIMIZATION_API_KEY: ${{ secrets.DD_API_KEY }}
    permissions:
      contents: read
      packages: write
    with:
      library: golang
      ref: main
      scenarios_groups: tracer-release
      skip_empty_scenarios: true
      _system_tests_dev_mode: true
      desired_execution_time: 300
      push_to_test_optimization: true
