name: System Tests

on:
  push:
    branches:
      - main
      - release-v*
    tags:
      - "**"
  pull_request:
    branches:
      - "**"
  merge_group:
  workflow_dispatch: {}
  schedule:
    - cron:  '00 04 * * 2-6'

jobs:
  system-tests:
    if: github.event_name != 'pull_request' || (github.event_name == 'pull_request' && github.event.pull_request.head.repo.full_name == 'DataDog/dd-trace-go')
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - library: golang
            weblog-variant: net-http
          - library: golang
            weblog-variant: gorilla
          - library: golang
            weblog-variant: echo
          - library: golang
            weblog-variant: chi
          - library: golang
            weblog-variant: gin
      fail-fast: false
    env:
      TEST_LIBRARY: golang
      WEBLOG_VARIANT: ${{ matrix.weblog-variant }}
      DD_API_KEY: ${{ secrets.DD_API_KEY }}
    steps:
      - name: Setup python 3.9
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Checkout system tests
        uses: actions/checkout@v2
        with:
          repository: 'DataDog/system-tests'

      - name: Checkout dd-trace-go
        uses: actions/checkout@v2
        with:
          path: 'binaries/dd-trace-go'

      - name: Build
        run: ./build.sh

      - name: Run
        run: ./run.sh

      - name: Run APM E2E default tests
        env:
          DD_API_KEY: ${{ secrets.SYSTEM_TESTS_E2E_DD_API_KEY }}
          DD_APPLICATION_KEY: ${{ secrets.SYSTEM_TESTS_E2E_DD_APP_KEY }}
          DD_SITE: "datadoghq.com"
        run: ./run.sh APM_TRACING_E2E

      - name: Run APM E2E Single Span tests
        env:
          DD_API_KEY: ${{ secrets.SYSTEM_TESTS_E2E_DD_API_KEY }}
          DD_APPLICATION_KEY: ${{ secrets.SYSTEM_TESTS_E2E_DD_APP_KEY }}
          DD_SITE: "datadoghq.com"
        run: ./run.sh APM_TRACING_E2E_SINGLE_SPAN

      - name: Run ASM IP blocking scenario
        env:
          DD_API_KEY: ${{ secrets.SYSTEM_TESTS_E2E_DD_API_KEY }}
          DD_APPLICATION_KEY: ${{ secrets.SYSTEM_TESTS_E2E_DD_APP_KEY }}
          DD_SITE: "datadoghq.com"
        run: ./run.sh APPSEC_IP_BLOCKING

      - name: Run ASM blocking scenario
        env:
          DD_API_KEY: ${{ secrets.SYSTEM_TESTS_E2E_DD_API_KEY }}
          DD_APPLICATION_KEY: ${{ secrets.SYSTEM_TESTS_E2E_DD_APP_KEY }}
          DD_SITE: "datadoghq.com"
        run: ./run.sh APPSEC_BLOCKING

      - name: Run ASM request blocking scenario
        env:
          DD_API_KEY: ${{ secrets.SYSTEM_TESTS_E2E_DD_API_KEY }}
          DD_APPLICATION_KEY: ${{ secrets.SYSTEM_TESTS_E2E_DD_APP_KEY }}
          DD_SITE: "datadoghq.com"
        run: ./run.sh APPSEC_REQUEST_BLOCKING

      - name: Run ASM_FEATURES remote configuration test
        env:
          DD_API_KEY: ${{ secrets.SYSTEM_TESTS_E2E_DD_API_KEY }}
          DD_APPLICATION_KEY: ${{ secrets.SYSTEM_TESTS_E2E_DD_APP_KEY }}
          DD_SITE: "datadoghq.com"
        run: ./run.sh REMOTE_CONFIG_MOCKED_BACKEND_ASM_FEATURES

      - name: Run ASM_DD remote configuration test
        env:
          DD_API_KEY: ${{ secrets.SYSTEM_TESTS_E2E_DD_API_KEY }}
          DD_APPLICATION_KEY: ${{ secrets.SYSTEM_TESTS_E2E_DD_APP_KEY }}
          DD_SITE: "datadoghq.com"
        run: ./run.sh REMOTE_CONFIG_MOCKED_BACKEND_ASM_DD

      - name: Run APPSEC_RATE_LIMITER remote configuration test
        env:
          DD_API_KEY: ${{ secrets.SYSTEM_TESTS_E2E_DD_API_KEY }}
          DD_APPLICATION_KEY: ${{ secrets.SYSTEM_TESTS_E2E_DD_APP_KEY }}
          DD_SITE: "datadoghq.com"
        run: ./run.sh APPSEC_RATE_LIMITER

      - name: Compress artifact
        if: ${{ always() }}
        run: tar -czvf artifact.tar.gz $(ls | grep logs)

      - name: Upload artifact
        uses: actions/upload-artifact@v2
        if: ${{ always() }}
        with:
          name: logs_${{ matrix.weblog-variant }}
          path: artifact.tar.gz
