name: Test Apps

on:
  workflow_dispatch: {} # manually
  schedule:
    - cron: "0 0 * * *" # nightly
  pull_request: {} # on pull request

env:
  DD_ENV: github
  DD_TAGS: "github_run_id:${{ github.run_id }} github_run_number:${{ github.run_number }}"

jobs:
  unit-of-work:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          repository: 'DataDog/dd-trace-go'

      - uses: datadog/agent-github-action@v1.3
        with:
            api_key: ${{ secrets.DD_TEST_APP_API_KEY }}
            datadog_site: datadoghq.com

      - uses: actions/setup-go@v3
        with:
          go-version: 'stable'
          check-latest: true
          cache: true

      - name: "Setup nightly run to last 10 minutes and add nightly:true tag"
        if: (github.event_name == 'schedule')
        run: |
          # 660s is enough time to capture 10 profiles without missing the last one
          # (TODO: Implement profiler.StopFlush())
          echo "DD_TEST_APPS_TOTAL_DURATION=660s" >> $GITHUB_ENV
          echo "DD_TEST_APPS_PROFILE_PERIOD=60s" >> $GITHUB_ENV
          echo "DD_TAGS=${DD_TAGS} nightly:true" >> $GITHUB_ENV

      - name: Run unit of work app
        run: |
          cd ./internal/apps/unit-of-work && ./run.bash
